<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/asset/css/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/static/dist/diff2html.css">
        <script src="/static/asset/js/jquery.min.js"></script>
        <script src="/static/asset/js/semantic.min.js"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/androidstudio.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <title>Commit Summarization</title>
        <script>
        $(document).ready(function() {
          $('.tabular.menu .item').tab();
          
          $("#cardloading").hide();
          $('.commitnya.link').popup();

          $('.crawlgit').click(function(){
            usernamenya = $("#username").val();
            projectnya = $("#project").val();
            csrf = $('input[type=hidden]').val();

            $("#projectloading").html(usernamenya+"/"+projectnya);
            $("#cardloading").show("slow");

            $.ajax({
                cache:false,
                type:"POST",
                url:"/import/",
                data:{
                    username: usernamenya,
                    project: projectnya,
                    csrfmiddlewaretoken : csrf
                },
                error:function(xhr, error){
                  $("#aldes").html("Repository tidak dapat diakses: (XHR: "+xhr+", error message: "+error+") ");
                  $('.small.modal').modal({
                    closable  : false,
                    onDeny    : function(){
                      location.reload();
                      return false;
                    }
                  })
                  .modal('show');
                },
                success:function(data){
                  if (data != "sukses"){
                    $("#aldes").html(" Repository tidak dapat diakses " + data);
                    $('.small.modal').modal({
                      closable  : false,
                      onDeny    : function(){
                        location.reload();
                        return false;
                      }
                    })
                    .modal('show');
                  }else{
                    $("#aldes").html("Repository berhasil ditambahkan");
                    $('.small.modal').modal({
                      closable  : false,
                      onDeny    : function(){
                        location.reload();
                        return false;
                      }
                    })
                    .modal('show');
                  }
                }
            });

          });
        });
        </script>
    </head>
    <body>
         <br/>
         <h1 align="center">Commit Summarization</h1><br/>
          <div class="ui two column centered grid">
            <div class="ui secondary pointing menu">
               <a class="link item active">
                 <i class="home icon"></i> &nbsp; Home
               </a>
               <a class="link item">
                 <i class="list icon"></i> &nbsp; Methodology
               </a>
               <a class="link item">
                 <i class="phone icon"></i> &nbsp; Contact
               </a>
               <a class="link item">
                 <i class="github icon"></i> &nbsp; Fork on Github
               </a>
             </div>
          </div>
          <br/><br/><br/>
         <div class="ui grid container">
           {% block breadcumb %}{% endblock %}
           {% block content %}{% endblock %}
         </div>

         <div class="ui small modal">
           <div class="header">Notifikasi</div>
           <div class="content">
               <div class="description" id="aldes">
             </div>
           </div>
           <div class="actions">
              <div class="ui blue cancel button">OK</div>
            </div>
         </div>
     </body>
</html>
