{% extends 'base.html' %}

{% block breadcumb %}
<div class="ui breadcrumb">
   <a class="section" href="/"><i class="home icon"></i> Home</a>
   <i class="right angle icon divider"></i>
   <a class="section" href="/commit?project={{ commit.nama_project }}">{{ commit.nama_project }}</a>
   <i class="right angle icon divider"></i>
   <a class="section">{{ commit.hashnya }}</a>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="sixteen wide column">
    <h4 class="ui horizontal divider header">
      <i class="tasks icon"></i>Summarize of This Commit
    </h4>
    <div class="ui top attached tabular menu">
      <div class="item active" data-tab="tab-1">TFIDF + Keyword</div>
      <div class="item" data-tab="tab-2">TFIDF</div>
      <div class="item" data-tab="tab-3">All</div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="tab-1">
      <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;">{{ commit.generated_tfidfmessage }}</pre>
    </div>
    <div class="ui bottom attached tab segment" data-tab="tab-2">
      <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;">{{ commit.generated_tfidf }}</pre>
    </div>
    <div class="ui bottom attached tab segment" data-tab="tab-3">
      <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;">{{ commit.generated_comment }}</pre>
    </div>
    <h4 class="ui horizontal divider header">
      <i class="tasks icon"></i>Detail Of: {{ commit.message }}
    </h4>

      {% for file in files %}
         File {{ file.filename }} <b>{{file.status}}</b><br/>
         <pre><code>{{ file.perubahan }}</code></pre><br/>
      {% endfor %}
  </div>
</div>

{% endblock %}
